body{
    text-align: center;
    background: #0f1b41;
}
#container{
    width: 50%;
    text-align: left;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #aac4aa;
    background: #464d6b;
    border-radius: 20px;
    color: #aac4aa;
}
#divAddress{
    margin-left: 10px;
}
#divGeo{
    margin-left: 20px;
}
#divCompany{
    margin-left: 10px;
}
.button{
    margin-top: 10px;
    width: 90%;
    font-size: 30px;
    border-radius: 10px;
    background: #464d6b;
    color: #aac4aa;
    border: 2px solid #aac4aa;
}
h1{
    width: 100%;
    color: #aac4aa;
}
.divUserId{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
}
.divList{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 18%;
    border: 1px solid #aac4aa;
    padding: 5px;
    background: #464d6b;
    border-radius: 10px;
    color: white;
}
.buttonPost{
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    background: #aac4aa;
    border: 2px solid black;
}