body{
    background: #0f1b41;
}
#container{
    width: 50%;
    border: 2px solid #aac4aa;
    font-size: 18px;
    margin-bottom: 20px;
    background: #464d6b;
    padding: 5px;
    border-radius: 10px;
    color: #aac4aa;
}
#mainComments{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #aac4aa;
    box-sizing: border-box;
    row-gap: 15px;
    margin-top: 20px;
    padding: 15px;
    background: #464d6b;
}
#hr{
    border: 1px solid #aac4aa;
    width: 100%;
}
.divComment{
    width: 30%;
    border: 2px solid #aac4aa;
    padding: 5px;
    font-size: 18px;
    background: #0f1b41;
    color: white;
    border-radius: 10px;
}